@font-face {
    font-family: Rubik;
    src: url(../fonts/Rubik-Regular.ttf);
}
@font-face {
    font-family: Dancing;
    src: url(../fonts/DancingScript-Bold.ttf);
}
@font-face {
    font-family: Thasadith-Bold;
    src: url(../fonts/Thasadith-Bold.ttf);
}
@font-face {
    font-family: Thasadith-Regular;
    src: url(../fonts/Thasadith-Regular.ttf);
}